@import '../shared/variables.scss';
@import '../shared/components.scss';

nav{
  background-color: $color-purple;

  @media screen and (min-width: $breakpoint-sm){
    .navbar{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-nav{
    align-items: flex-start;
  }

  ul li > a{
    color: $color-white-90;
    font-weight: 500;
    transition: all 0.2s;
    padding: 0px;
    padding-bottom: 5px;
    margin: 10px 20px;
    margin-bottom: 5px;
    font-size: 1.0rem;
    position: relative;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 1rem;
      margin: 10px;
    }

    @media screen and (min-width: $breakpoint-md){
      font-size: 1.1rem;
    }

    @media screen and (min-width: $breakpoint-lg){
      font-size: 1.2rem;
    }

    &:before{
      content: "";
      position: absolute;
      width: 0px;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color-white-80;
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    &::after{
      display: none;
    }

    &:hover{
      color: $color-white;
      &:before{
        width: 100%;
      }
    }
  }
  .dropdown {
    i.fa {
      margin-right: 3px;
    }

    &-menu a {
      font-weight: 500;
      color: $color-font-dark;
      padding-left: 10px;
      &:hover{
        background-color: #F3F3F3;
        cursor: pointer;
      }
    }
    &-rotate{
      margin-left: 5px;
      font-weight: bold;
      transition: all 0.25s;
      transform: rotate(0deg);
    }
    &.show .dropdown-rotate{
      transform: rotate(180deg);
    }
  }
}
.navbar{
  &-top{
    padding-right: 20px;
    padding-left: 20px;

    .navbar-toggler{
      border: 1px solid $color-white-80;
      font-size: 0.8rem;
    }

    .navbar-brand{
      font-size: 1.7rem;
    }

    @media screen and (max-width: $breakpoint-sm){
      ul li a {
        margin-left: 0;
      }
    }
    @media screen and (min-width: $breakpoint-md){
      .navbar-brand{
        font-size: 2rem;
      }
      .navbar-toggler{
        font-size: 1.2rem;
      }
    }
  }
  &-bottom{
    padding: 0;

    @media screen and (min-width: $breakpoint-sm){
      ul {
        li:first-of-type a{
          margin-left: 0;
        }
      }
    }

  }

  &-toggler{
    border: 1px solid $color-black-80;
  }
}
