@import '../shared/variables.scss';
nav{
  background-color: $color-purple;

  ul li > a, ul li > button{
    color: $color-white-90;
    font-weight: 500;
    transition: all 0.15s;
    padding: 10px 20px;
    font-size: 0.8rem;

    @media screen and (min-width: $breakpoint-sm){
      font-size: 1.1rem;
    }

    @media screen and (min-width: $breakpoint-lg){
      font-size: 1.1rem;
    }

    &:hover{
      color: #FFF;
    }
  }
  .dropdown-menu a {
    color: black;
    &:hover{
      background-color: #F3F3F3;
      cursor: pointer;
    }
  }
}
.navbar{
  &-top{
    .navbar-toggler{
      font-size: 0.8rem;
    }
    @media screen and (min-width: $breakpoint-sm){
      .navbar-brand{
        font-size: 1.6rem;
      }
      .navbar-toggler{
        font-size: 1.2rem;
      }
    }
  }
  &-bottom{
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: $breakpoint-sm){

      > div {
        border-top: 1px solid $color-white-80;
      }

      ul li:first-of-type a{
        padding-left: 0;
      }
    }

    .navbar-collapse.show{
      @media screen and (max-width: $breakpoint-sm){
        border-top: 1px solid #787878;
      }
    }
  }

  &-toggler{
    border: 1px solid $color-white-60;
  }
}
