@import '../../shared/variables.scss';
@import '../../shared/components.scss';

.usersInputArea{
  margin: 10px 0;
  form{
    .mat-form-field{
      display: block;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 25px;
      }
    }
  }
}

.text-editor{
  &__panel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    list-style-type: none;
    padding: 0;

    button{
      background-color: #FAFAFA;
      border: 1px solid #BDBDBD;
      margin-right: 5px;
      &:hover{
        background-color: #BABABA;
      }
      i{
        margin: 0;
      }
    }
  }

  &__inputContainer{
    position: relative;
  }

  &__editableDiv{
    border-bottom: 1px solid rgba(0,0,0,.42);
    margin-top: 30px;
    padding: 2px 3px;
    width: 100%;
    min-height: 36px;
    margin-bottom: 20px;
    color: $color-font-dark;
    resize: vertical;
    overflow: auto;
    outline: none;
    z-index: 2;
  }

  &__editableDivSubstitute{
    position: absolute;
    top: -14px;
    left: 2px;
    z-index: 0;
    pointer-events: none;
    textarea{
      visibility: hidden;
    }
  }
}
