<section class="section-create-ticket">
  <h2 class="section-title">Create a new ticket:</h2>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
  <mat-card class="usersInputArea">
    <form (submit)="onSaveTicket(postForm)" #postForm="ngForm"  *ngIf="!spinnerLoading">
      <mat-form-field>
          <input matInput type="text"
          name="title"
          [ngModel] = "editedTicket?.title"
          required
          placeholder= "Title"
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select
          name="priority"
          [ngModel] = "editedTicket?.priority"
          required
          placeholder="Select priority"
          >
            <mat-option value="Low">Low</mat-option>
            <mat-option value="Normal">Normal</mat-option>
            <mat-option value="High">High</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          appTextEditor
          cdkTextareaAutosize
          name="description"
          [ngModel] = "editedTicket?.description"
          required
          placeholder="Description"
          #description="ngModel">
          </textarea>
          <mat-error *ngIf="description.invalid">Please enter a description</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="mode=='edit'">
          <mat-select
          name="status"
          [ngModel] = "editedTicket?.status"
          required
          placeholder="Change status"
          >
            <mat-option value="Unassigned">Unassigned</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Resolved">Resolved</mat-option>
            <mat-option value="Rejected">Rejected</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="text-editor-container">
          <h3>Wysiwyg text editor</h3>
          <div *textEditor="let variable = controller" class="text-editor">
              <ul class="text-editor__panel">
                  <li><button (click)=variable.undo() class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.redo() class="btn"><i class="fa fa-repeat" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.bold() class="btn"><i class="fa fa-bold" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.italic() class="btn"><i class="fa fa-italic" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.underline() class="btn"><i class="fa fa-underline" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.alignCenter() class="btn"><i class="fa fa-align-center" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.alignLeft() class="btn"><i class="fa fa-align-left" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.alignRight() class="btn"><i class="fa fa-align-right" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.alignJustify() class="btn"><i class="fa fa-align-justify" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.orderedList() class="btn"><i class="fa fa-list-ol" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.unOrderedList() class="btn"><i class="fa fa-list-ul" aria-hidden="true"></i></button></li>
                  <li><button (click)=variable.unOrderedList() class="btn"><i class="fa fa-eraser" aria-hidden="true"></i></button></li>
                </ul>
                <div  contenteditable="true" class="text-editor__inputarea">
                  Please enter a description
                </div>
          </div>
        </div>
        <button mat-raised-button type="submit" class="btn--cyan">Add Ticket</button>
    </form>
  </mat-card>
</section>
