<section class="section-create-ticket">
  <h2 class="section-title">Create a new ticket:</h2>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
  <mat-card class="usersInputArea">
    <form (submit)="onSaveTicket(postForm)" #postForm="ngForm"  *ngIf="!spinnerLoading">
      <mat-form-field>
        <input matInput type="text"
        name="title"
        [ngModel] = "editedTicket?.title"
        required
        placeholder= "Title"
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select
        name="priority"
        [ngModel] = "editedTicket?.priority"
        required
        placeholder="Select priority"
        >
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>
        <!-- <mat-form-field>
          <textarea
          matInput
          appTextEditor
          cdkTextareaAutosize
          name="description"
          [ngModel] = "editedTicket?.description"
          required
          placeholder="Description"
          #description="ngModel">
          </textarea>
          <mat-error *ngIf="description.invalid">Please enter a description</mat-error>
        </mat-form-field> -->
        <mat-form-field *ngIf="mode=='edit'">
          <mat-select
          name="status"
          [ngModel] = "editedTicket?.status"
          required
          placeholder="Change status"
          >
            <mat-option value="Unassigned">Unassigned</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Resolved">Resolved</mat-option>
            <mat-option value="Rejected">Rejected</mat-option>
          </mat-select>
        </mat-form-field>
        <div #someInput class="text-editor-container">
          <div *textEditor="let btnClick = controller; let divField" class="text-editor">
            <ul class="text-editor__panel">
              <li><button (click)=btnClick.bold() type="button" class="btn"><i class="fa fa-bold" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.italic() type="button" class="btn"><i class="fa fa-italic" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.underline() type="button" class="btn"><i class="fa fa-underline" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.orderedList() type="button" class="btn"><i class="fa fa-list-ol" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.unOrderedList() type="button" class="btn"><i class="fa fa-list-ul" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.clear() type="button" class="btn"><i class="fa fa-eraser" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.undo() type="button" class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button></li>
              <li><button (click)=btnClick.redo() type="button" class="btn"><i class="fa fa-repeat" aria-hidden="true"></i></button></li>
              <li>
                <button class="btn dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                </button>
                <div class="emoticons-dropdown dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <div class="emoticons-dropdown__emojis">
                      <button (click)="btnClick.emoji('smiling')" type="button"><img src="backend\files\images\emoji\png\smiling.png" alt="Emoji angry"></button>
                      <button (click)="btnClick.emoji('confused')" type="button"><img src="backend\files\images\emoji\png\confused.png" alt="Emoji confused"></button>
                      <button (click)="btnClick.emoji('confused-1')" type="button"><img src="backend\files\images\emoji\png\confused-1.png" alt="Emoji confused-1"></button>
                      <button (click)="btnClick.emoji('sad')" type="button"><img src="backend\files\images\emoji\png\sad.png" alt="Emoji sad"></button>
                      <button (click)="btnClick.emoji('happy')" type="button"><img src="backend\files\images\emoji\png\happy.png" alt="Emoji happy"></button>
                      <button (click)="btnClick.emoji('happy-1')" type="button"><img src="backend\files\images\emoji\png\happy-1.png" alt="Emoji happy-1"></button>
                      <button (click)="btnClick.emoji('happy-2')" type="button"><img src="backend\files\images\emoji\png\happy-2.png" alt="Emoji happy-2"></button>
                      <button (click)="btnClick.emoji('happy-3')" type="button"><img src="backend\files\images\emoji\png\happy-3.png" alt="Emoji happy-3"></button>
                      <button (click)="btnClick.emoji('happy-4')" type="button"><img src="backend\files\images\emoji\png\happy-4.png" alt="Emoji happy-4"></button>
                      <button (click)="btnClick.emoji('wink')" type="button"><img src="backend\files\images\emoji\png\wink.png" alt="Emoji wink"></button>
                      <button (click)="btnClick.emoji('kissing')" type="button"><img src="backend\files\images\emoji\png\kissing.png" alt="Emoji kissing"></button>
                      <button (click)="btnClick.emoji('in-love')" type="button"><img src="backend\files\images\emoji\png\in-love.png" alt="Emoji in-love"></button>
                      <button (click)="btnClick.emoji('tongue-out')" type="button"><img src="backend\files\images\emoji\png\tongue-out.png" alt="Emoji tongue-out"></button>
                      <button (click)="btnClick.emoji('tongue-out-1')" type="button"><img src="backend\files\images\emoji\png\tongue-out-1.png" alt="Emoji tongue-out-1"></button>
                      <button (click)="btnClick.emoji('smart')" type="button"><img src="backend\files\images\emoji\png\smart.png" alt="Emoji smart"></button>
                      <button (click)="btnClick.emoji('angry')" type="button"><img src="backend\files\images\emoji\png\angry.png" alt="Emoji angry"></button>
                      <button (click)="btnClick.emoji('angry-1')" type="button"><img src="backend\files\images\emoji\png\angry-1.png" alt="Emoji angry-1"></button>
                      <button (click)="btnClick.emoji('mad')" type="button"><img src="backend\files\images\emoji\png\mad.png" alt="Emoji mad"></button>
                      <button (click)="btnClick.emoji('unhappy')" type="button"><img src="backend\files\images\emoji\png\unhappy.png" alt="Emoji unhappy"></button>
                      <button (click)="btnClick.emoji('emoticons')" type="button"><img src="backend\files\images\emoji\png\emoticons.png" alt="Emoji emoticons"></button>
                      <button (click)="btnClick.emoji('embarrassed')" type="button"><img src="backend\files\images\emoji\png\embarrassed.png" alt="Emoji embarrassed"></button>
                      <button (click)="btnClick.emoji('crying')" type="button"><img src="backend\files\images\emoji\png\crying.png" alt="Emoji crying"></button>
                      <button (click)="btnClick.emoji('crying-1')" type="button"><img src="backend\files\images\emoji\png\crying-1.png" alt="Emoji crying-1"></button>
                      <button (click)="btnClick.emoji('suspicious')" type="button"><img src="backend\files\images\emoji\png\suspicious.png" alt="Emoji suspicious"></button>
                      <button (click)="btnClick.emoji('suspicious-1')" type="button"><img src="backend\files\images\emoji\png\suspicious-1.png" alt="Emoji suspicious-1"></button>
                      <button (click)="btnClick.emoji('bored')" type="button"><img src="backend\files\images\emoji\png\bored.png" alt="Emoji bored"></button>
                      <button (click)="btnClick.emoji('bored-1')" type="button"><img src="backend\files\images\emoji\png\bored-1.png" alt="Emoji bored-1"></button>
                      <button (click)="btnClick.emoji('bored-2')" type="button"><img src="backend\files\images\emoji\png\bored-2.png" alt="Emoji bored-2"></button>
                      <button (click)="btnClick.emoji('surprised')" type="button"><img src="backend\files\images\emoji\png\surprised.png" alt="Emoji surprised"></button>
                      <button (click)="btnClick.emoji('surprised-1')" type="button"><img src="backend\files\images\emoji\png\surprised-1.png" alt="Emoji surprised-1"></button>
                      <button (click)="btnClick.emoji('secret')" type="button"><img src="backend\files\images\emoji\png\secret.png" alt="Emoji secret"></button>
                      <button (click)="btnClick.emoji('quiet')" type="button"><img src="backend\files\images\emoji\png\quiet.png" alt="Emoji quiet"></button>
                      <button (click)="btnClick.emoji('ill')" type="button"><img src="backend\files\images\emoji\png\ill.png" alt="Emoji ill"></button>
                      <button (click)="btnClick.emoji('nerd')" type="button"><img src="backend\files\images\emoji\png\nerd.png" alt="Emoji nerd"></button>
                      <button (click)="btnClick.emoji('ninja')" type="button"><img src="backend\files\images\emoji\png\ninja.png" alt="Emoji ninja"></button>
                      <button (click)="btnClick.emoji('happy')" type="button"><img src="backend\files\images\emoji\png\happy.png" alt="Emoji happy"></button>
                      <button (click)="btnClick.emoji('poop')" type="button"><img src="backend\files\images\emoji\png\poop.png" alt="Emoji poop"></button>
                  </div>
                </div>
              </li>
            </ul>
            <!-- name="formDiv" [ngModel] = "testdiv"  -->

            <div #textEditor class="text-editor__inputContainer">
              <div #myDiv id="divContenteditable" contenteditable="true" [innerHtml]="editedTicket?.description" class="text-editor__editableDiv">
                  Please enter a description
              </div>

              <mat-form-field class="text-editor__editableDivSubstitute">
                <textarea
                  matInput
                  type="text"
                  name="description"
                  required
                  [ngModel] = "divField"
                  #description="ngModel"
                  placeholder="Description"
                  ></textarea>
                  <mat-error *ngIf="description.invalid">Please enter a description</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-raised-button type="submit" class="btn--cyan">Add Ticket</button>
    </form>
  </mat-card>
</section>
