<section class="create-user">
  <h2 class="section-title">Create new user:</h2>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
  <mat-card class="usersInputArea">
      <form (submit)="onSaveUser(postForm)" #postForm="ngForm"  *ngIf="!spinnerLoading">
        <mat-form-field>
          <input matInput type="text"
          name="userName"
          [ngModel] = "editedUser?.name"
          required
          placeholder= "Name"
          #name="ngModel">
          <mat-error *ngIf="name.invalid">Please enter a Name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
          name="userSurname"
          [ngModel] = "editedUser?.surname"
          required
          placeholder="Surname"
          #surname="ngModel">

          <mat-error *ngIf="surname.invalid">Please enter a Surname</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
            name="nickname"
            [ngModel] = "editedUser?.nickname"
            placeholder="Nickname"
            #surname="ngModel">
          </mat-form-field>
        <mat-form-field>
          <input matInput
          name="email"
          [ngModel] = "editedUser?.email"
          type="email"
          placeholder="E-mail"
          #emailInput="ngModel"
          required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="loggedUserIsAuthenticated && loggedUserIsAdmin">
          <mat-select
          name="type"
          [ngModel] = "editedUser?.userType"
          required
          placeholder="Change user type"
          >
            <mat-option value="employee">Employee</mat-option>
            <mat-option value="specialist">Specialist</mat-option>
            <mat-option value="administrator">Administrator</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-field-image">
          <div class=form-field-image__image *ngIf="imagePreview !== '' && imagePreview">
            <img [src]="imagePreview" alt="Missing user avatar">
          </div>
          <div class=form-field-image__content>
            <label class="upload-file-label" for="uploadFileField">Change user avatar</label>
            <button mat-flat-button class="btn--cyan" type="button" (click)="filePicker.click()">Choose File</button>
            <input id="uploadFileField" name="uploadFile" type="file" #filePicker (change)="onImageChanged($event)">

          </div>
        </div>
        <mat-form-field>
          <input matInput
          name="password"
          type="password"
          ngModel
          matInput
          placeholder= "Password"
          #passwordInput="ngModel"
          required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
      <button mat-raised-button type="submit" class="btn--cyan">Add User</button>
    </form>
  </mat-card>
</section>
