.page-not-found{
  &--title{
    font-size: 3rem;
    text-align: center
  }
  &--body{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    img{
      align-self: center;
      display: block;
      width: 100%;
      height: auto;
      max-width: 724px;
    }
  }
}
