%flexbox-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  font-weight: 500;

  &--orange{
    color: $color-white;
    background-color: $color-orange;
  }
  &--cyan{
    color: $color-white;
    background-color: $color-cyan;
  }
  &--pinky{
    color: $color-white;
    background-color: $color-pinky;
  }
}

.pill{
  @extend %flexbox-center;
  font-weight: 500;
  color: $color-white-90;
  background-color: $color-pill-grey;
  display: inline-flex;
  align-items: center;
  padding: 4px 9px;
  cursor: default;
  margin: 4px;
  border-radius: 10px;

  &--pending{
    color: $color-white-90;
    background-color: $color-pill-orange;
  }
  &--resolved{
    color: $color-white-90;
    background-color: $color-pill-green;
  }
  &--rejected{
    color: $color-white-90;
    background-color: $color-pill-red;
  }
}

.separator{
  width: 100%;
  height: 1px;
  background-color: $color-separator-grey;
  &--gradient-light{
    background-image: linear-gradient(to right,#A9A9A9, #E9E9E9 , #A9A9A9);
  }
  &--margin{
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
