//Colors from https://colorhunt.co/palette/130374

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1200px;

$color-purple: #6200EE;
$color-green: #03DAC5;
$color-pinky: #851e52;
$color-orange: #d3560e;
$color-orange-light: #ff8000;
$color-white-95: rgba(255,255,255,.95);
$color-white-90: rgba(255,255,255,.90);
$color-white-80: rgba(255,255,255,.80);
$color-white-60: rgba(255,255,255,.80);
