//Colors from https://colorhunt.co/palette/130374
/*
others:
https://colorhunt.co/palette/88310
https://www.webdesignrankings.com/resources/lolcolors/
https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=FF5722&secondary.color=FFAB00&secondary.text.color=000000
*/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1200px;

$color-purple: #6200EE;
$color-green: #03DAC5;
$color-pinky: #851e52;
$color-orange: #d3560e;
$color-orange-light: #ff8000;
$color-white-95: rgba(255,255,255,.95);
$color-white-90: rgba(255,255,255,.90);
$color-white-80: rgba(255,255,255,.80);
$color-white-60: rgba(255,255,255,.80);


$color-cyan-light: #5df2d6;
$color-cyan: #00bfa5;
$color-cyan-dark: #008e76;
