<section class="section-users-list">
  <h2 class="section-title">Users list:</h2>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>

  <!-- <mat-accordion *ngIf="users.length > 0 && !spinnerLoading" class="custom-accordion">
    <mat-expansion-panel *ngFor="let user of users; let indexIterator = index">
      <mat-expansion-panel-header>
        <div class="mat-content-id">Nr: {{ indexIterator }}</div>
        <div class="mat-content-text">{{ user.name }} {{ user.surname }}</div>
      </mat-expansion-panel-header>
        <p>Esse tempor nisi anim officia aliqua ullamco officia enim voluptate.</p>
      <mat-action-row *ngIf="userIsAuthenticated">
        <a mat-button color="primary" [routerLink]="['/edit-user', user.id]">EDIT</a>
        <button mat-button color="accent" (click)="onDelete(user.id)" >DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion> -->

  <section class="users-list" *ngIf="users.length > 0 && !spinnerLoading" >
    <div class="box" *ngFor="let user of users; let indexIterator = index">
      <div class="box__header">
        <div class="box__header__picture">
          <img src="backend\files\images\missing_user_avatar.png" alt="Missing user avatar">
        </div>
        <div class="box__header__content">
          <h4 class="box__header__content__heading">{{ user.name }} {{ user.surname }}</h4>
          <p *ngIf="user.nickname">Nickname: <span>{{ user.nickname }}</span></p>
        </div>
      </div>
      <div class="box__body">
        <div class="fa fa-cogs" aria-hidden="true">Role: <span>{{ user.userType | titlecase }} </span></div>
        <div class="fa fa-mobile" aria-hidden="true">Phone number: <span>+48632111222</span></div>
        <div class="fa fa-envelope" aria-hidden="true">E-mail: <span>{{ user.email }}</span></div>
      </div>
      <div class="box__footer">
          <button mat-raised-button (click)="onDelete(user.id)" class="btn btn--pinky">Delete</button>
          <a mat-raised-button [routerLink]="['/edit-user', user.id]" class="btn btn--cyan">Edit User</a>
      </div>
    </div>
  </section>

  <p *ngIf="users.length <= 0">No users were added</p>
</section>
