<div class="section-info">

  <h2 class="section-info__title">This is the dashboard of the Helpdesk application.</h2>

  <div class="row">

    <div class="col-md-4">
      <div class="section-info__block">
        <h3 class="section-info__block__title">Created users</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>1500</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="section-info__block">
        <h3 class="section-info__block__title">Submitted tickets</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>3470</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="section-info__block">
        <h3 class="section-info__block__title">Resolved tickets</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>2438</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
