<section class="section-info">

  <h2 class="section-title">Helpdesk Dashboard</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="section-info__block section-info__block--orange">
        <h3 class="section-info__block__title">Created users</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>{{ usersCount }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="section-info__block section-info__block--pink">
        <h3 class="section-info__block__title">Submitted tickets</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>{{ ticketsCount }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="section-info__block section-info__block--green">
        <h3 class="section-info__block__title">Resolved tickets</h3>
        <div class="section-info__block__content">
          <div class="fa fa-circle-thin" aria-hidden="true">
            <span>{{ resolvedTicketsCount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-description">
  <div class="separator separator--margin"></div>
  <h3 class="section-title">Description of the application</h3>
  <p>Application was developed by Robert Zieliński in order to gain development skills with Angular</p>
  <p>
    The goal of the application was to create helpdesk system which will allow to manage users and ticket submission.
    There exist two types of users: administrator and normal user. Administrator has privileges to edit and delete all data of the application (Users and Tickets).
    Normal users can only edit and delete tickets which they created. They do not have access to tab, which allows to edit and delete users.
  </p>
  <p>Application uses MEAN stack - MongoDB, Express, Angular and NodeJS</p>
</section>
