<h2>This is the dashboard of the Helpdesk application.</h2>
<div class="row section-info">
  <div class="col-md-6">
    <div class="section-info__block">
      <h3>Created users</h3>
      <div class="section-info__block__content">
        <i class=""></i>
        <span>1500</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="section-info__block">
      <h3>Submitted tickets</h3>
      <div class="section-info__block__content">
        <i class=""></i>
        <span>3470</span>
      </div>
    </div>
  </div>
</div>
