@import './app/shared/variables.scss';
/* You can add global styles to this file, and also import other style files */
html * {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.section
{
  &-title{
    margin-top: 40px;
    margin-bottom: 25px;
  }
  &-separator{
    margin-top: 20px;
    border-top: 1px solid $color-separator-grey;
  }
}


i.fa{
  margin-right: 7px;
}
