@import './app/shared/variables.scss';
@import './app/shared/components.scss';
/* You can add global styles to this file, and also import other style files */
html * {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $color-font-dark;
}

.section-title{
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1.5rem;
}

.mat-progress-spinner{
  margin: auto;
  margin-bottom: 30px;
  circle{
    stroke: $color-orange;
  }
}

i.fa{
  margin-right: 7px;
}

.custom-accordion{
  .mat-expansion-panel{
    &-header{
      min-height: 48px;
      padding: 10px 15px;
      .mat-panel-icon{
        margin-right: 15px;
        color: $color-orange;
        @extend %flexbox-center;
      }
      &__status{
        @extend %flexbox-center;
        .pill{
          @media screen and (min-width: $breakpoint-sm){
            margin-right: 15px;
          }
        }
      }
      &-title{
        color: $color-font-dark;
        span{
          align-self: center;
        }
      }
      .mat-expansion-indicator{
        align-self: stretch;
        @extend %flexbox-center;
        &::after{
          color: $color-orange;
        }
      }
      @media screen and (max-width: $breakpoint-sm){
        flex-direction: column;
        align-items: stretch;
        &-title{
          justify-content: flex-start;
          span{
            margin: 0 auto;
            text-align: center;
          }
          .mat-panel-icon{
            align-items: flex-start;
            padding-top: 4px;
          }
        }
        &__status{
          margin: 15px 0;
        }
        .mat-content{
          flex-direction: column;
        }
      }
    }
    &-content{
      color: $color-font-dark;
      .mat-action-row{
        margin: 0px 15px;
        padding: 15px 0;
      }
    }
  &-body{
      margin: 0px 15px;
      padding: 0;
      &__content{
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid rgba(0,0,0,.12);

        @media screen and (min-width: $breakpoint-md){
          flex-direction: row;
        }
        &__info{
          white-space: nowrap;
          margin-top: 15px;
          >div{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 5px;
            padding-left: 10px;
          }
          &--vertical{
            flex-direction: column;
          }
          p{
            margin-bottom: 0;
            position: relative;

            i::before{
              position: absolute;
              top: 4px;
              left: -10px;
            }
          }
          span{
            margin-left: 7px;
            font-weight: 500;
          }
          @media screen and (min-width: $breakpoint-md){
            margin-top: 0;
            >div{
              margin-left: 25px;
            }
          }
        }
      }
    }
  }
}

.mat-snack-bar-container{
  background-color: $color-orange;
  font-weight: 500;
  .mat-simple-snackbar{
    > span{
      font-weight: 500;
      font-size: 1rem;
      color: $color-white-90;
    }
    &-action button{
      font-weight: 700;
      font-size: 1.1rem;
      color: $color-purple
    }
  }
}

.mat-dialog-container{
  background-color: $color-orange;
  color: $color-white-90;
  .mat-dialog-title{
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .mat-dialog-content p{
    font-size: 1.05rem;
    margin-bottom: 25px;
  }
}

.box{
  padding: 15px;
  margin-bottom: 30px;
  @extend %material-shadow;

  &__header{
    display: flex;
    flex-direction: row;
    &__picture{
      img{
        width: 60px;
        height: auto;
        object-fit: scale-down;
        @media screen and (min-width: $breakpoint-md){
          width: 100px;
        }
      }
    }
    &__content{
      margin-left: 20px;
      border-bottom: 1px solid $color-cyan;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__heading{
        color: $color-cyan-dark;
        font-weight: 700;
        font-size: 1.3rem;
        @media screen and (min-width: $breakpoint-md){
          font-size: 1.5rem;
        }
      }
      span{
        font-weight: 500;
      }
    }
  }
  &__body{
    padding: 30px 0;
    border-bottom: 1px solid $color-cyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-md){
      flex-direction: column;
    }
    > div{
      margin: 10px 0;
      white-space: nowrap;
      display: flex;
      align-items: center;
      &::before{
        margin-right: 12px;
        font-weight: normal;
        color: $color-cyan;
        font-size: 1.3em;
      }
      > span {
        margin-left: 5px;
        font-weight: 600;
      }
    }
  }
  &__footer{
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    .btn{
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: $breakpoint-sm){
  .section-title{
    font-size: 1.8rem;
  }
}

@media screen and (min-width: $breakpoint-md){
  .mat-paginator{
    margin-top: -50px;
  }
}
