@import '../../shared/variables.scss';

.mat-expansion-panel{
  margin-bottom: 10px;
  &-header > div{
    padding-right: 10px;
  }
}
.mat-content{
  &-text{
    margin-right: 20px;
  }
  &-id{
    font-weight: 500;
    margin-right: 20px;
    color: $color-purple;
  }
}

mat-spinner{
  margin: auto;
}
