<h2 class="heading">Tickets list:</h2>
<mat-spinner *ngIf="spinnerLoading"></mat-spinner>
<mat-accordion *ngIf="tickets.length > 0 && !spinnerLoading">
  <mat-expansion-panel *ngFor="let ticket of tickets; let indexIterator = index">
    <mat-expansion-panel-header>
      <div class="mat-content-id">Nr: {{ indexIterator }}</div>
      <div class="mat-content-text">{{ ticket.title }} {{ ticket.description }}</div>
      <div class="mat-content-text">{{ ticket.priority }}</div>
    </mat-expansion-panel-header>
      <p>Esse tempor nisi anim officia aliqua ullamco officia enim voluptate.</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit-ticket', ticket.id]">EDIT</a>
      <button mat-button color="accent" (click)="onDelete(ticket.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="tickets.length <= 0">No tickets were submitted</p>
