@import '../../shared/variables.scss';
@import '../../shared/components.scss';

.mat-expansion-panel{
  margin-bottom: 10px;
  &-header > div{
    padding-right: 10px;
  }
}
mat-action-row{
  a{
    margin-right: 10px;
  }
}
