@import '../../shared/variables.scss';
@import '../../shared/components.scss';

.mat-expansion-panel{
  margin-bottom: 10px;
  &-header > div{
    padding-right: 10px;
  }
}

i.fa{
  margin-right: 7px;
  color: $color-orange;
}

mat-action-row{
  a{
    margin-right: 10px;
  }
}

