<section class="section-ticket-list">
  <h2 class="section-title">Tickets list:</h2>
  <mat-paginator
    [length]="totalTickets"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="tickets.length > 0">
  </mat-paginator>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
  <mat-accordion *ngIf="tickets.length > 0 && !spinnerLoading" class="custom-accordion">
    <mat-expansion-panel *ngFor="let ticket of tickets; let indexIterator = index">
      <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
        <mat-panel-title><i class="fa fa-ticket mat-panel-icon" aria-hidden="true"></i><span>{{ ticket.title }}</span></mat-panel-title>
        <!-- <div class="mat-content-id">Nr: {{ indexIterator }}</div>
        <div class="mat-content-text">{{ ticket.title }} {{ ticket.description }}</div>
        <div class="mat-content-text">{{ ticket.priority }}</div>-->
        <div class="mat-expansion-panel-header__status">{{ ticket.status }}</div>
      </mat-expansion-panel-header>

      <div class="mat-expansion-panel-body__content">
        <div>{{ ticket.description }}</div>
        <div class="mat-expansion-panel-body__content__info">
          <p><i class="fa fa-bolt" aria-hidden="true"></i> Priority:   <span>{{ ticket.priority }}</span></p>
        </div>
      </div>
      <mat-action-row *ngIf="(userIsAuthenticated && loggedInUserId == ticket.creator) || (userIsAuthenticated && loggedInUserIsAdmin)">
        <a mat-raised-button [routerLink]="['/edit-ticket', ticket.id]" class="btn--orange">EDIT</a>
        <button mat-raised-button (click)="onDelete(ticket.id)" class="btn--pinky">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <p *ngIf="tickets.length <= 0">No tickets were submitted</p>
</section>
